.contact_list-element {
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to right,#055a62, #fff, #59aedb);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
}

.icon-contact {
  margin-right: 20px;
}