.section-education {
  position: relative;
}

.list-education {
  @include place(row, center, center );
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.list_edu-element {
  margin-bottom: 20px;
  color:  #0c535d;
  text-transform: uppercase;
}

.hover-image {
  display: none;
  position: absolute;
  top: 0;
  left: 100px;
  width: 80%;
  max-height: 400px;
  margin-left: 10px;
  z-index: 10;
}

.show-sertificate {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.67);
  &:hover {
    cursor: pointer;

    .hover-image {
      display: block;
    }
  }
}
