.skills-container {
  @include place(row, center, center );
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #ffffff86;
  padding: 20px 10px;
  border-radius: 0 ;
}

.list-skills {
  @media (max-width: 1500px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
  }

  @media (max-width: $tablet-pro) {
    display: flex;
    flex-direction: column;
  }

}