.list-skills {
  @media (max-width: 1500px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
  }

  @media (max-width: $tablet-pro) {
    display: flex;
    flex-direction: column;
  }

}

.list-element {
  @media (max-width: 1500px) {
  display: flex;
  justify-content: end;
  gap: 10px;
  }

  @media (max-width: $tablet-pro) {
    justify-content: start;
  }
}